@tailwind base;
@tailwind components;
@tailwind utilities;

.complect{
    padding: 8px 12px; 
    border-left: 4px solid #ea081e;
    word-wrap: break-word;
    background-color: #7db4d28a;
}
html{
  font-size: 1.2rem;
}
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1500px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 1500px;
  }
  .card{
    width: 80%;
  }
}
@media (min-width: 922px) {

  .container {
    max-width: 1024px;
  }
}
.top-nav-collapse {
  background-color: #7db4d280 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
  font-size: 1.1rem;
}

@media (max-width: 1500px) {
  .navbar:not(.top-nav-collapse) {
    background: #7DB4D2 !important;
  }
}

.card {
  background-color: rgba(125,180,210,0.5);
  
  margin: auto;
}
.card-text {
  
  font-size: 1.1rem;
}

@media (max-width: 850px) {
  .card {
    width: auto;
  }
}

.md-form label {
  color: #ffffff;
}
.row {
  margin-left: 0.3rem;
}

h6 {
  line-height: 2.5;
}
.btn  {
  color:#ffffff;
  background-color:rgba(125,180,210) ;
  border: 3px solid rgb(14 165 233);
  cursor: pointer;
  transition: background-color 0.4s ease; /* плавный переход цвета */
}
.btn:hover {
  background-color: rgba(124, 126, 128, 0.438);
  border: 3px solid rgb(14 165 233);
}
.collapse {
  visibility: visible;
}

#roles {
	background-color:rgba(125,180,210,0.3) ;
	color:#ffffff;
	border-bottom: 1px solid white; 
}
h1 {
    font-size: 2.5em;
	color: #ffffff;
}

h2 {
    font-size: 2.0em;
	color: #ffffff;
}

p {
    font-size: 1.1rem;
    color: #040404;
}
input.nav-item {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
  text-decoration: none;
}
small {
    font-size: 100%;
}
.diagramm{
  display:inline-block; 
  background-color: #4caf50;
  vertical-align: middle;
  border-radius: 4px;
}
input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff; /* яркий цвет */
  background-color: white;
  cursor: pointer;
  position: relative;
}
input[type="radio"]{
  border-radius: 50%;
}

/* Отметка для радио */
input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
}

/* Отметка для чекбокса */
input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #007bff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* disabled яркий, без полупрозрачности */
input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  border-color: #007bff;   /* яркий оранжевый */
  background-color: #ebe5dd; /* светлый оттенок для disabled */
  cursor: not-allowed;
  opacity: 1; /* убрать серость */
}

/* отмеченные disabled тоже яркие */
input[type="radio"]:disabled:checked::before {
  background-color: #007bff;
}

input[type="checkbox"]:disabled:checked::before {
  border-color: #007bff;
}
