@tailwind base;
@tailwind components;
@tailwind utilities;

.complect{
    width: auto;
    background-color: #fff;
    padding: 8px 12px; 
    border-left: 2px solid #7db4d280;
    word-wrap: break-word;
}
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1500px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 1500px;
  }
}

.top-nav-collapse {
  background-color: #7db4d280 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 1500px) {
  .navbar:not(.top-nav-collapse) {
    background: #7DB4D2 !important;
  }
}

.card {
  background-color: rgba(125,180,210,0.5);
}
.card-text {
  
  font-size: 1.1rem;
}

.md-form label {
  color: #ffffff;
}
.row {
  margin-left: 0.3rem;
}

h6 {
  line-height: 2.5;
}
.btn  {
  color:#ffffff;
  background-color:rgba(125,180,210) ;
}
.collapse {
  visibility: visible;
}

#roles {
	background-color:rgba(125,180,210,0.3) ;
	color:#ffffff;
	border-bottom: 1px solid white; 
}
h1 {
    font-size: 2.5em;
	color: #ffffff;
}

h2 {
    font-size: 2.0em;
	color: #ffffff;
}

p {
    font-size: 1.4em;
}
input.nav-item {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
  text-decoration: none;
}